# Calculo la edad de los postulantes

In [1]:
#importaciones
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import _converter
%matplotlib inline 
plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)
import datetime
sns.set(style="whitegrid") # seteando tipo de grid en seaborn

In [2]:
df_post_gen_age = pd.read_csv("/home/kevin/Documents/orga datos/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv")
df_post_gen_age.head(3)

  idpostulante fechanacimiento sexo
0         NM5M      1970-12-03  FEM
1         5awk      1962-12-04  FEM
2         ZaO5      1978-08-10  FEM

In [3]:
df_post_gen_age.isnull().any()

idpostulante       False
fechanacimiento     True
sexo               False
dtype: bool

In [14]:
df_post_gen_age["fechanacimiento"] = pd.to_datetime(df_post_gen_age["fechanacimiento"], errors="coerce")

In [15]:
#df_post_gen_age["fechanacimiento"] = df_post_gen_age["fechanacimiento"].dt.date
df_post_gen_age["fechanacimiento"]

0        1970-12-03
1        1962-12-04
2        1978-08-10
3        1969-05-09
4        1981-02-16
5        1968-12-18
6        1966-07-16
7        1976-07-21
8        1976-02-28
9        1981-03-09
10       1973-02-13
11       1963-04-09
12       1967-01-30
13       1977-07-16
14       1973-09-11
15       1954-08-30
16       1959-01-05
17       1976-09-03
18       1964-01-19
19       1971-11-08
20       1974-05-06
21       1963-03-10
22       1966-05-30
23       1966-03-01
24       1969-07-17
25       1976-01-25
26       1966-06-29
27       1967-06-04
28       1979-03-24
29       1972-06-29
            ...
200858   1982-04-15
200859   1977-04-06
200860   1998-10-02
200861   1996-07-08
200862   1988-01-01
200863   1994-03-02
200864   1995-07-05
200865   1990-03-21
200866   1990-08-25
200867   1997-07-22
200868   1996-04-26
200869   1988-08-26
200870          NaT
200871   1999-08-10
200872          NaT
200873   1997-01-11
200874   1993-02-19
200875   1994-07-26
200876          NaT
200877   1992-11-29
200878   1997-07-08
200879          NaT
200880          NaT
200881   1997-06-23
200882   1997-04-22
200883   1988-01-07
200884   1998-05-09
200885   1997-03-06
200886   1997-07-07
200887          NaT
Name: fechanacimiento, Length: 200888, dtype: datetime64[ns]

In [16]:
date = datetime.date(year=1959,month=9,day=29)
date2 = datetime.date(year=2018,month=3,day=31)
print int((date2 - date).days)/364

58

In [18]:
date = datetime.date(year=1986,month=12,day=17)
date2 = datetime.date.today()
print int((date2 - date).days)/364

31

In [25]:
df_post_gen_age["edad"] = df_post_gen_age["fechanacimiento"].apply(lambda x : ((datetime.datetime.today()- x).days)/364)

In [32]:
df_post_gen_age.groupby("edad")["edad"].count()

edad
12.0         1
17.0       128
18.0      2591
19.0      5726
20.0      7734
21.0      9626
22.0     10592
23.0     11313
24.0     11619
25.0     11758
26.0     11927
27.0     11556
28.0      9986
29.0      9598
30.0      8396
31.0      7918
32.0      7038
33.0      6026
34.0      5586
35.0      5128
36.0      4876
37.0      4326
38.0      3966
39.0      3532
40.0      3152
41.0      2698
42.0      2422
43.0      2212
44.0      1759
45.0      1568
         ...
51.0       797
52.0       680
53.0       671
54.0       596
55.0       473
56.0       469
57.0       419
58.0       315
59.0       259
60.0       190
61.0       182
62.0       130
63.0        70
64.0        62
65.0        26
66.0        24
67.0        31
68.0        15
69.0        11
70.0         9
71.0         2
72.0         1
73.0         2
74.0         1
75.0         5
76.0         1
78.0         1
96.0         1
101.0        1
243.0        1
Name: edad, Length: 65, dtype: int64