# Me quedo con la educacion maxima graduada 

se puede hacer variantes como la educacion maxima alcanzada, para ello solo se ordena por id y prioridad_nom y nos quedamos con el primero por cada idpostulante.

In [3]:
#importaciones
from IPython.display import HTML
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import _converter
%matplotlib inline 
plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)
import datetime
sns.set(style="whitegrid") # seteando tipo de grid en seaborn

In [4]:
df_post_gen_age = pd.read_csv("/home/kevin/Documents/orga datos/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv")
df_post_gen_age["fechanacimiento"] = pd.to_datetime(df_post_gen_age["fechanacimiento"], errors="coerce")
df_post_gen_age["edad"] = df_post_gen_age["fechanacimiento"].apply(lambda x : ((datetime.datetime.today()- x).days)/364)

In [6]:
df_edu = pd.read_csv("/home/kevin/Documents/orga datos/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv")
df_edu.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

In [8]:
df_edu.groupby(['nombre',"estado"]).count()

                              idpostulante
nombre            estado
Doctorado         Abandonado            15
                  En Curso              94
                  Graduado             105
Master            Abandonado           144
                  En Curso            1519
                  Graduado            1935
Otro              Abandonado           947
                  En Curso            4919
                  Graduado           18882
Posgrado          Abandonado           317
                  En Curso            2239
                  Graduado            4831
Secundario        Abandonado          3156
                  En Curso            3995
                  Graduado          103105
Terciario/Técnico Abandonado          5692
                  En Curso           15032
                  Graduado           27009
Universitario     Abandonado         14955
                  En Curso           50733
                  Graduado           38607

In [26]:
orden_nombre = {
    "Doctorado":0,
    "Master":1,
    "Posgrado":2,
    "Universitario":3,
    "Terciario/Técnico":4,
    "Secundario":5,
    "Otro":6
}

orden_estado = {
    "Graduado":0,
    "En Curso":1,
    "Abandonado":2,
}

In [27]:
df_edu["prioridad_nom"] = df_edu["nombre"].apply(lambda nombre: orden_nombre.get(nombre))
df_edu["prioridad_est"] = df_edu["estado"].apply(lambda estado: orden_estado.get(estado))

In [34]:
df_edu[["nombre","prioridad_nom","estado","prioridad_est"]].head()

          nombre  prioridad_nom    estado  prioridad_est
0       Posgrado              2  En Curso              1
1  Universitario              3  En Curso              1
2  Universitario              3  En Curso              1
3  Universitario              3  En Curso              1
4         Master              1  En Curso              1

In [30]:
df_edu.isnull().any()

idpostulante     False
nombre           False
estado           False
Prioridad_nom    False
prioridad_nom    False
prioridad_est    False
dtype: bool

In [36]:
df_edu.sort_values(by= ["idpostulante","prioridad_est","prioridad_nom"],inplace= True)

In [38]:
df_edu_unicos= df_edu.drop_duplicates(subset = "idpostulante",keep= "first")

In [42]:
print df_edu_unicos.shape
print df_edu["idpostulante"].value_counts().count()

(188752, 6)
188752